<%= form_tag '/employees', method: :post do %>
  <p>Name: <input type="text" name="name"></p>
  <p>Age: <input type="text" name="age"></p>
  <p>Hobbies: <input type="text" name="hobbies"></p>
  <p><input type="submit" value="create new employee!"></p>

<% end %>